<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <agbdownload>
            <tab>general</tab>
            <label>janolaw AGB-Hosting</label>
            <frontend_type>text</frontend_type>
            <sort_order>905</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <janoloaw_agb_user translate="label comment" module="agbdownloader">
                    <label>User data</label>
                    <comment><![CDATA[Basic settings to connect to the Janolaw service. Note that after downgrading, you must save the configuration again, to make sure that no unsupported languages are configured. Please do a manual synchronisation (System > Janolaw AGB Hosting > Status) after changing this settings.]]></comment>
                    <expanded>1</expanded>
                    <sort_order>65</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <userid translate="label">
                            <label>User-ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </userid>
                        <shopid translate="label">
                            <label>Shop-ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shopid>
                        <api_base_url translate="label">
                            <label>API base url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_base_url>

                        <language translate="label">
                            <label>Language</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>agbdownloader/source_language</source_model>
                        </language>
                    </fields>
                </janoloaw_agb_user>

                <!-- only in default scope, as store specific data is handled by cms (multiple records per identifier possible) -->
                <janoloaw_agb_cms translate="label comment" module="agbdownloader">
                    <label>Storage definitions</label>
                    <comment><![CDATA[Defines block identifiers where the legal texts from janolaw are stored. Note that the content inside the blocks defined here is overwritten when synchronizing with Janolaw Hosting (in all stores!).]]></comment>
                    <sort_order>75</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <agbid translate="label">
                            <label>AGB Block (string identifier)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                        </agbid>
                        <impressumid translate="label">
                            <label>Impressum Block (string identifier)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                        </impressumid>
                        <wiederrufid translate="label">
                            <label>Widerrufsbelehrung Block (string identifier)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                        </wiederrufid>
                        <datenschutzid translate="label">
                            <label>Datenschutzerklärung Block (string identifier)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                        </datenschutzid>
                        <withdrawalid translate="label">
                            <label>Muster-Widerrufsformular Block (string identifier)</label>
                            <frontend_type>text</frontend_type>
                            <!-- custom frontend model to check if it should be shown or not -->
                            <frontend_model>agbdownloader/adminhtml_system_config_form_field</frontend_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                        </withdrawalid>
                    </fields>
                </janoloaw_agb_cms>

                <janoloaw_agb_pdf translate="label" module="agbdownloader">
                    <label>Enable PDF attachment to all emails</label>
                    <frontend_model>agbdownloader/adminhtml_system_config_fieldset_pdf</frontend_model>
                    <sort_order>85</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <agb translate="label">
                            <label>AGB</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </agb>
                        <wiederruf translate="label">
                            <label>Widerrufsbelehrung</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </wiederruf>
                        <withdrawal translate="label">
                            <label>Muster-Widerrufsformular</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </withdrawal>

                    </fields>
                </janoloaw_agb_pdf>
            </groups>
        </agbdownload>
    </sections>
</config>
